.about {
  background: $c-white;

  &-wrap {
    display: flex;

    @include _560 {
      display: block;
    }
  }

  &__poster {
    @include _560 {
      text-align: center;
    }
  }

  &__descr {
    padding-left: 25px;
    padding-right: 100px;
    font-size: 18px;

    @include _560 {
      padding-right: 25px;
      font-size: 16px;
    }
  }

  &__reviews {
    padding: 40px;

    @include _560 {
      padding: 25px;
      padding-top: 0;
    }
  }

  &-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _560 {
      flex-wrap: wrap;
    }

    &__title {
      font-size: 24px;

      @include _560 {
        font-size: 20px;
      }

      @include _560 {
        width: 100%;
      }
    }

    &__item {
      font-size: 18px;
      position: relative;
      z-index: 1;

      &::after {
        position: absolute;
        display: block;
        content: "";
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        &::after {
          width: 90%;
          background: #b7ffb1;
        }
      }

      &:nth-child(3) {
        &::after {
          width: 20%;
          background: #d7d7d7;
        }
      }

      &:nth-child(4) {
        &::after {
          width: 20%;
          background: #ffb1b1;
        }
      }

      @include _560 {
        margin-top: 15px;
        margin-right: 15px;
        font-size: 16px;
      }
    }

    &__inner {
      display: block;

      
    }
  }
}