.header {
  padding: 0px 60px;
  margin-top: 30px;
  background: url(../assets/img/header-bg.png) 50% 100% / contain no-repeat;
  height: 450px;
  color: $c-white;
  display: flex;
  justify-content: space-between;

  @include _991 {
    padding: 0 25px;
  }

  @include _560 {
    padding: 0 16px;
  }

  &-name {
    font-family: $f-secondary;


    &__title {
      font-size: 90px;
      font-weight: normal;

      @include _560 {
        font-size: 40px;
      }
    }

    &__subtitle {
      display: block;
      font-size: 40px;

      @include _560 {
        font-size: 20px;
      }

      &_colored {
        color: $c-bright;
      }
    }
  }

  &__logo {
    margin-top: 20px;

    @include _560 {
      margin-top: 0;
    }
  }

  &-logo {
    display: block;
    text-decoration: none;
    text-align: center;

    &__text {
      color: $c-bright;
      display: block;
      font-size: 40px;

      @include _560 {
        font-size: 20px;
      }
    }
  }

  &-nav {

    &__list {
      @include list-reset;
      margin-top: 40px;

      @include _991 {
        margin-top: 20px;
      }
    }

    &__item {
      @include btn;
      margin-bottom: 3px;
      font-size: 20px;
      color: $c-white;

      @include _991 {
        font-size: 16px;
        margin-bottom: 7px;
      }
    }
  }
}