.swiper-container {
  overflow: hidden;
  display: flex;
}
.swiper-button-prev {
  left: 40px;
}

.swiper-button-next {
  right: 40px;
}

.slider {
  background: $c-white;
  &-wrap {
    display: flex;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__slide {
    cursor: pointer;
    position: relative;
    z-index: 1;
    img {
      filter: grayscale(50%);

    }
    &:hover {
      
      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 0.3;
      }
    }

    &::before {
      position: absolute;
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
      left: 0;
      top: 0;
      transition: $default-transition;

    }

    &::after {
      position: absolute;
      z-index: 3;
      opacity: 0;
      pointer-events:none;
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      background: url(../assets/img/zoom.png) no-repeat;
      transition: $default-transition;
    }
  }

  &-block {
    position: relative;
    padding: 60px 100px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}