@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../assets/fonts/BebasNeueRegular.woff2") format('woff2');
  src: url("../assets/fonts/BebasNeueRegular.woff") format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyrThin';
  src: url("../assets/fonts/HelveticaNeueCyr-Thin.woff2") format('woff2');
  src: url("../assets/fonts/HelveticaNeueCyr-Thin.woff") format('woff');
  font-style: normal;
  font-weight: normal;
}