* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: $c-black;
  font-family: $f-main;
  overflow-x: hidden;
  background: linear-gradient($c-black 30%, black 45%);
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

a {
  text-decoration: none;
  transition: $default-transition;
  color: inherit;
  display: block;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/img/cool_pic.png) 100% 100% no-repeat;
  }
}

.container-min {
  max-width: 750px;
  margin: 0 auto;
}

.main {
  position: relative;

  
}