// Typography variables
// stylelint-disable declaration-bang-space-before

/* Fonts */
$f-main: 'HelveticaNeueCyrThin', sans-serif;
$f-secondary: 'BebasNeueRegular', sans-serif;


$default-transition-time: .3s;
$default-transition: all $default-transition-time;
