
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn {
  background: $c-bright;
  border: none;
  transition: $default-transition;

  &:hover {
    background: lighten($c-bright, 10%);
  }

  a {
  padding: 3px 50px;
  }
}

