// stylelint-disable declaration-no-important, no-descending-specificity

/* Mixins */

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin text-hide {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

@mixin element-cover {
  width: auto;
  min-width: 100%;
  max-width: none;
  height: auto;
  min-height: 100%;
  max-height: none;
}

@mixin element-100 {
  width: 100%;
  height: 100%;
}

@mixin element-absolute-100 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter-xs;
  padding-left: $gutter-xs;
  width: 100%;
  max-width: 1800px;

  @include breakpoint(s) {
    padding-right: $gutter-sm;
    padding-left: $gutter-sm;
  }

  @include breakpoint(m) {
    padding-right: $gutter-md;
    padding-left: $gutter-md;
  }

  @include breakpoint(l) {
    padding-right: $gutter-lg;
    padding-left: $gutter-lg;
  }

  @include breakpoint(xl) {
    padding-right: $gutter-xl;
    padding-left: $gutter-xl;
  }
}

@mixin element-container-out {
  margin-right: calc(-50vw + 50%);
  margin-left: calc(-50vw + 50%);
}

@mixin font($size, $weight, $lineHeight, $letterSpacing) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
  letter-spacing: $letterSpacing;
}

@mixin border-top-headers {
  padding-top: $spacer-2;
  border-top: 1px solid $c-gray-93;

  @include breakpoint(s) {
    padding-top: $spacer-3;
  }
}

@mixin margin-top-headers {
  margin-top: $spacer-11;

  @include breakpoint(s) {
    margin-top: $spacer-12;
  }

  @include breakpoint(l) {
    margin-top: $spacer-14;
  }

  @include breakpoint(xxl) {
    margin-top: $spacer-15;
  }
}

@mixin margin-bottom-headers-with-text {
  margin-bottom: $spacer-8;

  @include breakpoint(s) {
    margin-bottom: $spacer-10;
  }

  @include breakpoint(l) {
    margin-bottom: $spacer-11;
  }

  @include breakpoint(xl) {
    margin-bottom: $spacer-12;
  }

  @include breakpoint(xxl) {
    margin-bottom: $spacer-14;
  }
}

@mixin margin-bottom-headers {
  margin-bottom: $spacer-7;

  @include breakpoint(s) {
    margin-bottom: $spacer-8;
  }

  @include breakpoint(l) {
    margin-bottom: $spacer-10;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

@mixin margin-bottom-section {
  margin-bottom: $spacer-11;

  @include breakpoint(s) {
    margin-bottom: $spacer-12;
  }

  @include breakpoint(l) {
    margin-bottom: $spacer-14;
  }

  @include breakpoint(xxl) {
    margin-bottom: $spacer-15;
  }
}

@mixin space-between-paragraphs {
  > .field--name-field-content {
    > .field__item:not(:last-child) {
      > .paragraph:not(.paragraph--type--anchor-navigation):not(.paragraph--type--anchor) {
        @include margin-bottom-section;
      }

      &:first-child {
        > .paragraph {
          &.paragraph--type--picture-fullwidth,
          &.paragraph--type--video-wide {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@mixin max-width-article-in-lp {
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @include breakpoint(m) {
    width: calc(66.66667% - 10px);
  }

  @include breakpoint(l) {
    width: calc(50% - 12px);
  }
}
