@mixin button {
  padding: 12px 25px;
  display: inline-block;
  color: $c-blue;
  background-color: transparent;
  border: 1px solid $c-gray-10;
  border-radius: 280px;
  transition: $default-transition;

  &:hover,
  &:focus {
    color: $c-white;
    background-color: $c-blue;
    border-color: $c-blue;
  }

  &:active {
    color: $c-white;
    background-color: $c-dark-blue-20;
    border-color: $c-dark-blue-20;
  }

  &:disabled {
    color: $c-gray-15;
    border-color: $c-gray-10;
  }
}

@mixin button--give {
  padding-top: 0;
  padding-bottom: 0;
  height: 48px;
  line-height: 48px;
}

@mixin button--dark-bg {
  color: $c-white;
  background-color: transparent;
  border-color: rgba($c-gray-30, .3);

  &:hover,
  &:focus {
    color: $c-white;
    background-color: transparent;
    border-color: $c-white;
  }

  &:active {
    color: $c-white;
    background-color: transparent;
    border-color: rgba($c-gray-30, .3);
  }

  &:disabled {
    color: $c-white;
    background-color: transparent;
    border-color: $c-gray-15;
  }
}

@mixin button__donate-now {
  color: $c-white;
  background-color: $c-blue;
  border-color: $c-blue;

  &:hover,
  &:focus {
    color: $c-white;
    background-color: $c-dark-blue-20;
    border-color: $c-dark-blue-20;
  }

  &:active {
    color: $c-white;
    background-color: $c-blue;
    border-color: $c-blue;
  }

  &:disabled {
    color: $c-white;
    background-color: $c-gray-15;
    border-color: $c-gray-15;
  }
}

@mixin button__generic {
  color: $c-white;
  background-color: $c-blue;
  border-color: $c-blue;

  &:hover,
  &:focus {
    color: $c-white;
    background-color: $c-dark-blue-20;
    border-color: $c-dark-blue-20;
  }

  &:active {
    color: $c-white;
    background-color: $c-blue;
    border-color: $c-blue;
  }

  &:disabled {
    color: $c-white;
    background-color: $c-gray-15;
    border-color: $c-gray-15;
  }
}

@mixin button__tag {
  @include button;

  color: $c-gray-93;
  background-color: $c-gray-5;
  border-color: $c-gray-5;

  &:hover,
  &:focus {
    color: $c-white;
    background-color: $c-dark-blue-20;
    border-color: $c-dark-blue-20;
  }

  &:active {
    color: $c-white;
    background-color: $c-blue;
    border-color: $c-blue;
  }

  &:disabled {
    color: $c-gray-93;
    background-color: $c-gray-15;
    border-color: $c-gray-15;
  }
}

@mixin button__donate-ammount {
  @include button;
  @include font(12px, 400, 1.35, .08em);

  text-transform: uppercase;
  color: $c-gray-93;
  background-color: $c-blue;
  border-color: $c-blue;

  &:hover {
    color: $c-gray-93;
    background-color: $c-dark-blue-20;
    border-color: $c-dark-blue-20;
  }

  &:focus,
  &:active {
    color: $c-gray-93;
    background-color: $c-blue;
    border-color: $c-blue;
  }

  &:disabled {
    color: $c-gray-93;
    background-color: $c-gray-15;
    border-color: $c-gray-15;
  }
}

@mixin button__video {
  @include button;
  @include font(14px, 400, 1.35, .08em);

  position: relative;
  padding: 18.5px 25px 18.5px 52px;
  color: $c-white;
  background-color: $c-blue;
  border-color: $c-blue;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);

  &::before {
    position: absolute;
    top: 21px;
    left: 25px;
    width: 14px;
    height: 12px;
    content: '';
    background-image: url('../../../assets/images/video-small.svg') no-repeat;
  }

  &:hover,
  &:focus {
    color: $c-white;
    background-color: $c-dark-blue-20;
    border-color: $c-dark-blue-20;
  }

  &:active {
    color: $c-white;
    background-color: $c-blue;
    border-color: $c-blue;
    box-shadow: none;
  }

  &:disabled {
    color: $c-white;
    background-color: $c-gray-15;
    border-color: $c-gray-15;
  }
}

@mixin button__video--100 {
  width: 100px;
  height: 100px;
  background-color: $c-blue;
  background-image: url('../../../assets/images/video-w100.svg');
  background-repeat: no-repeat;
  background-position: 37px 30px;
  border-color: $c-blue;
  border-radius: 100%;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-dark-blue-20;
    border-color: $c-dark-blue-20;
  }

  &:disabled {
    background-color: $c-gray-15;
    border-color: $c-gray-15;
  }
}

@mixin button__video--36 {
  @include button;

  padding: 0;
  width: 36px;
  height: 36px;
  background-color: $c-blue;
  background-image: url('../../../assets/images/video-w36.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-color: $c-blue;
  border-radius: 100%;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-dark-blue-20;
    border-color: $c-dark-blue-20;
  }

  &:disabled {
    background-color: $c-gray-15;
    border-color: $c-gray-15;
  }
}

@mixin button__filter-w38 {
  @include caption-01;

  position: relative;
  padding: 8.5px $spacer-8 8.5px $spacer-4;
  color: $c-gray-93;
  background-color: $c-gray-5;
  border-color: $c-gray-5;
  border-radius: 80px;

  &::before {
    position: absolute;
    top: 50%;
    right: $spacer-4;
    display: block;
    width: 9px;
    height: 9px;
    content: '';
    background-image: url('../../../assets/images/filter-close.svg');
    background-size: contain;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    color: $c-gray-93;
    background-color: $c-gray-15;
    border-color: $c-gray-15;
  }

  &:active {
    color: $c-gray-93;
    background-color: $c-gray-5;
    border-color: $c-gray-5;
  }

  &:disabled {
    color: $c-gray-40;
    background-color: $c-gray-3;
    border-color: $c-gray-3;

    &::before {
      background-image: url('../../../assets/images/filter-close--gray.svg');
    }
  }
}

@mixin button__learn-more-1 {
  padding-top: 0;
  padding-bottom: 0;
  height: 48px;
  line-height: 48px;
  color: $c-white;
  background-color: transparent;
  border-color: rgba($c-white, .3);

  &:hover,
  &:focus {
    color: $c-white;
    background-color: transparent;
    border-color: $c-white;
  }

  &:active {
    color: $c-white;
    border-color: rgba($c-white, .3);
  }

  &:disabled {
    color: $c-gray-15;
    border-color: $c-gray-15;
  }
}

@mixin button__learn-more-2 {
  @include button;

  color: $c-white;
  background-color: transparent;
  border-color: $c-white;

  &:hover,
  &:focus {
    border-color: $c-gray-30;
  }

  &:active {
    border-color: $c-white;
  }

  &:disabled {
    color: $c-gray-15;
    border-color: $c-gray-15;
  }
}

@mixin button__scroll-down {
  padding-top: 0;
  padding-bottom: 0;
  height: 48px;
  line-height: 48px;
  color: $c-white;
  background-color: transparent;
  border-color: rgba($c-gray-30, .3);

  &:hover,
  &:focus {
    color: $c-white;
    background-color: transparent;
    border-color: $c-white;
  }

  &:active {
    color: $c-white;
    background-color: transparent;
    border-color: rgba($c-gray-30, .3);
  }

  &:disabled {
    color: $c-white;
    background-color: transparent;
    border-color: $c-gray-15;
  }
}

@mixin button__cta {
  color: $c-gray-93;
  background-color: transparent;
  border-color: $c-gray-93;

  &:hover,
  &:focus,
  &:active {
    color: $c-gray-93;
    background-color: transparent;
    border-color: $c-gray-15;
  }

  &:disabled {
    color: $c-gray-93;
    background-color: transparent;
  }
}

@mixin button__cta--email {
  @include body-04;

  padding-top: 0;
  padding-bottom: 0;
  height: 48px;
  line-height: 48px;
  color: $c-white;
  background-color: transparent;
  border-color: rgba($c-white, .3);

  &:hover,
  &:focus,
  &:active {
    color: $c-white;
    background-color: transparent;
    border-color: $c-white;
  }

  &:disabled {
    color: $c-gray-93;
    background-color: transparent;
  }
}

@mixin button__search-48 {
  padding: 0;
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: url('../../../assets/images/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;

  &:hover,
  &:focus {
    background-color: $c-blue;
    background-image: url('../../../assets/images/search--white.svg');
    border-color: $c-blue;
  }

  &:active {
    background-color: $c-dark-blue-20;
    background-image: url('../../../assets/images/search--white.svg');
    border-color: $c-dark-blue-20;
  }

  &:disabled {
    background-image: url('../../../assets/images/search--gray.svg');
    border-color: $c-gray-10;
  }

  &.is-active {
    background-image: url('../../../assets/images/cross--blue.svg');

    &:hover,
    &:focus {
      background-image: url('../../../assets/images/cross--white.svg');
    }

    &:active {
      background-image: url('../../../assets/images/cross--white.svg');
    }

    &:disabled {
      background-image: url('../../../assets/images/cross--gray.svg');
    }
  }
}

@mixin button__search-40 {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url('../../../assets/images/search--black.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-color: $c-gray-10;
  border-radius: 100%;

  &:hover,
  &:focus {
    background-color: transparent;
    background-image: url('../../../assets/images/search--black.svg');
    border-color: $c-gray-40;
  }

  &:active {
    background-color: transparent;
    background-image: url('../../../assets/images/search--black.svg');
    border-color: $c-gray-10;
  }

  &:disabled,
  &--disabled {
    background-color: transparent;
    background-image: url('../../../assets/images/search--gray.svg');
    border-color: $c-gray-10;

    &:hover,
    &:focus {
      background-color: transparent;
      background-image: url('../../../assets/images/search--gray.svg');
      border-color: $c-gray-10;
    }

    &:active {
      background-color: transparent;
      background-image: url('../../../assets/images/search--gray.svg');
      border-color: $c-gray-10;
    }
  }
}

@mixin button__burger-40 {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url('../../../assets/images/hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $c-blue;
    background-image: url('../../../assets/images/hamburger--white.svg');
    border-color: $c-blue;
  }

  &:active {
    background-color: $c-dark-blue-20;
    background-image: url('../../../assets/images/hamburger--white.svg');
    border-color: $c-dark-blue-20;
  }

  &:disabled {
    background-image: url('../../../assets/images/hamburger--gray.svg');
    border-color: $c-gray-10;
  }
}

@mixin button__burger-40--white {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url('../../../assets/images/hamburger--white.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-color: rgba($c-white, .15);
  border-radius: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparent;
    background-image: url('../../../assets/images/hamburger--white.svg');
    border-color: $c-white;
  }

  &:active {
    background-color: transparent;
    background-image: url('../../../assets/images/hamburger--white.svg');
    border-color: rgba($c-white, .15);
  }

  &:disabled {
    background-image: url('../../../assets/images/hamburger--gray.svg');
    border-color: $c-white;
  }
}

@mixin button__close-40 {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: $c-white;
  background-image: url('../../../assets/images/cross--blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $c-gray-10;
  border-radius: 100%;

  &:hover,
  &:focus {
    background-color: $c-blue;
    background-image: url('../../../assets/images/cross--white.svg');
    border-color: $c-blue;
  }

  &:active {
    background-color: $c-dark-blue-20;
    background-image: url('../../../assets/images/cross--white.svg');
    border-color: $c-dark-blue-20;
  }

  &:disabled {
    background-image: url('../../../assets/images/cross--gray.svg');
    border-color: $c-gray-10;
  }
}

@mixin button__arrow-right-40 {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url('../../../assets/images/chevron-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-color: $c-gray-10;
  border-radius: 100%;

  &:hover,
  &:focus {
    background-color: transparent;
    background-image: url('../../../assets/images/chevron-right.svg');
    border-color: $c-gray-40;
  }

  &:active {
    background-color: transparent;
    background-image: url('../../../assets/images/chevron-right.svg');
    border-color: $c-gray-10;
  }

  &:disabled,
  &--disabled {
    background-color: transparent;
    background-image: url('../../../assets/images/chevron-right--gray.svg');
    border-color: $c-gray-10;

    &:hover,
    &:focus {
      background-color: transparent;
      background-image: url('../../../assets/images/chevron-right--gray.svg');
      border-color: $c-gray-10;
    }

    &:active {
      background-color: transparent;
      background-image: url('../../../assets/images/chevron-right--gray.svg');
      border-color: $c-gray-10;
    }
  }
}

@mixin button__arrow-down-40 {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url('../../../assets/images/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-color: $c-gray-10;
  border-radius: 100%;

  &:hover,
  &:focus {
    background-color: transparent;
    background-image: url('../../../assets/images/arrow-down.svg');
    border-color: $c-gray-40;
  }

  &:active {
    background-color: transparent;
    background-image: url('../../../assets/images/arrow-down.svg');
    border-color: $c-gray-10;
  }

  &:disabled,
  &--disabled {
    background-color: transparent;
    background-image: url('../../../assets/images/arrow-down-gray.svg');
    border-color: $c-gray-10;

    &:hover,
    &:focus {
      background-color: transparent;
      background-image: url('../../../assets/images/arrow-down-gray.svg');
      border-color: $c-gray-10;
    }

    &:active {
      background-color: transparent;
      background-image: url('../../../assets/images/arrow-down-gray.svg');
      border-color: $c-gray-10;
    }
  }
}

@mixin button__arrow-right-40-orange {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: $c-blue;
  background-image: url('../../../assets/images/chevron-right--white.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-color: $c-blue;
  border-radius: 100%;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-dark-blue-20;
    background-image: url('../../../assets/images/chevron-right--white.svg');
    border-color: $c-dark-blue-20;
  }

  &:disabled {
    background-color: $c-gray-15;
    background-image: url('../../../assets/images/chevron-right--gray.svg');
    border-color: $c-gray-15;
  }
}

@mixin button__24 {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: $c-blue;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-color: $c-blue;
  border-radius: 100%;
  transition: background-image .2s ease-out, background-color .2s ease-out;

  &:hover,
  &:focus {
    background-color: $c-dark-blue-20;
    border-color: $c-dark-blue-20;
  }

  &:active {
    background-color: $c-blue;
    border-color: $c-blue;
  }

  &:disabled {
    background-color: $c-gray-15;
  }
}

@mixin button__24--arrow-up {
  @include button__24;

  background-image: url('../../../assets/images/icon-24--arrow-up.svg');
}

@mixin button__24--download {
  @include button__24;

  background-image: url('../../../assets/images/icon-24--download.svg');
}

@mixin button__24--extend {
  @include button__24;

  background-image: url('../../../assets/images/icon-24--extend.svg');
}

@mixin button__24--eye {
  @include button__24;

  background-image: url('../../../assets/images/icon-24--eye.svg');
}

@mixin button__24--minus {
  @include button__24;

  background-image: url('../../../assets/images/icon-24--minus.svg');
}

@mixin button__24--plus {
  @include button__24;

  background-image: url('../../../assets/images/icon-24--plus.svg');
}

@mixin button__share($icon) {
  @include button;

  padding: 0;
  width: 48px;
  height: 48px;
  background-color: $c-white;
  background-image: url('../../../assets/images/#{$icon}.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100%;

  &:hover,
  &:focus {
    background-color: $c-white;
    background-image: url('../../../assets/images/#{$icon}-gray.svg');
    border-color: $c-gray-40;
  }

  &:active {
    background-color: $c-white;
    background-image: url('../../../assets/images/#{$icon}.svg');
    border-color: $c-gray-10;
  }

  &:disabled {
    background-image: url('../../../assets/images/#{$icon}-gray.svg');
    border-color: $c-gray-10;
  }
}

@mixin button__share--white($icon) {
  background-color: transparent;
  background-image: url('../../../assets/images/#{$icon}-white.svg');
  border: 1px solid rgba($c-white, .3);

  &:hover,
  &:focus {
    background-color: transparent;
    background-image: url('../../../assets/images/#{$icon}-white.svg');
    border-color: $c-white;
  }

  &:active {
    background-color: transparent;
    background-image: url('../../../assets/images/#{$icon}-white.svg');
    border-color: rgba($c-white, .3);
  }

  &:disabled {
    background-color: transparent;
    background-image: url('../../../assets/images/#{$icon}-gray.svg');
    border-color: $c-gray-10;
  }
}
